<html>
<head th:replace="˜(base :: head)"></head>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
	rel="stylesheet">
<style>
.logo-container {
	background-color: #003594;
	color: #FFF;
}

.logo {
	font-family: 'Poppins', sans-serif;
	font-size: 2.5rem;
}

body {
	background-color: #CCCCCC;
}

button{
    margin: 0 15px;
}
</style>

<body>

	<div class="logo-container p-3 d-flex justify-content-between">
		<span class="logo">SkyHigh</span> <span class="mt-3">Login</span>
	</div>

	<nav class="navbar navbar-light d-flex justify-content-center mb-5 "
		style="background-color: #FFB81C;">
		<nav class="navbar navbar-expand-lg">

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#textoNavbar" aria-controls="textoNavbar"
				aria-expanded="false" aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="textoNavbar">
				<ul class="navbar-nav mr-auto">
					<a><li class="nav-item active"><a class="nav-link"
							href="/home">Início</a></li>
						<li class="nav-item active"><a class="nav-link" href="#">Meus
								Produtos</a></li>
						<li class="nav-item active"><a class="nav-link" href="#">Meus
								Pedidos</a></li>
				</ul>
		</nav>
		<button class="btn btn-primary my-2 my-sm-0 float-right" type="submit">Novo
			Produto</button>
	</nav>

			<form action="/produto/novo-produto" method="POST">

				<div class="card-body">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="card d-flex p-2 bd-highlight">
									<div
										class="card-body text-white d-flex mb-5 justify-content-center rounded"
										style="background-color: #003594;">
										<h2>Novo Produto</h2>
									</div>


									<div>Nome do Produto</div>
									<div>
									    <label for="nome"></label>
										<input th:field="*{nome}" name="nome" class="form-control mb-4"
											placeholder="Insira o nome do produto">
									</div>


									<div>Valor</div>
									<div>
								     	<label for="preco"></label>
										<input th:field="*{preco}" name="preco" class="form-control mb-4"
											placeholder="Insira o valor do produto">
									</div>




									<div>URL da Imagem</div>
									<div>
								     	<label for="urlImagem"></label>
										<input th:field="*{urlImagem}" name="urlImagem" class="form-control mb-4"
											placeholder="Insira a URL da imagem">
									</div>


									<div>Descrição</div>
									<div>
									<label for="descricao"></label>
										<textarea th:field="*{descricao}" name="descricao" class="form-control mb-5"
											placeholder="Descreva as informações do produto aqui !"></textarea>
									</div>
									<div class="mt-4">
									<button type="submit" class="btn btn-success float-right">Enviar</button>
									<button type="reset" class="btn btn-danger float-right">Limpar</button>
									</div>
								</div>
							</div>
						</div>
						</div>
						</div>
			</form>
</body>
</html>