<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
        href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
        rel="stylesheet">
<style>
    .currSign:before {
        content: 'R$';
    }

    .logo-container {
        background-color: #003594;
        color: #FFF;
    }

    .logo {
        font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
    }

    body {
        background-color: #CCCCCC;
    }

    button {
        margin: 0 15px;
    }
</style>

<body>


<div class="logo-container p-3 d-flex justify-content-between">
    <span class="logo">SkyHigh</span> <span class="mt-3">Login</span>
</div>

<nav class="navbar navbar-light d-flex justify-content-center mb-5 "
     style="background-color: #FFB81C;">
    <nav class="navbar navbar-expand-lg">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#textoNavbar" aria-controls="textoNavbar"
                aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="textoNavbar">
            <ul class="navbar-nav mr-auto">
                <a>
                    <li class="nav-item active"><a class="nav-link"
                                                   href="/produto/home">Início</a> <span class="sr-only">(Página
								atual)</span>
                </a>
                </li>
                <li class="nav-item active"><a class="nav-link" href="/produto/">Meus
                    Produtos</a></li>
                <li class="nav-item active"><a class="nav-link" href="/produto/pedidos">Meus
                    Pedidos</a></li>
            </ul>
        </div>
    </nav>
    <a href="/produto/form">
        <button formmethod="get"
                class="btn btn-primary my-2 my-sm-0 float-right">Novo
            Produto
        </button>
    </a>
</nav>
<body>
<th:block th:each="produto : ${produtos}">
    <div class="container mb-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="card d-flex p-2 bd-highlight">

                    <div th:field="*{produto.getId()}" th:text="${produto.getId()}"
                         hidden name="id" class="text-primary"></div>


                    <h2>

                        <div th:field="*{produto.getNome()}"
                             th:text="${produto.getNome()}"
                             class="card-body text-white d-flex justify-content-center rounded"
                             style="background-color: #003594;"></div>
                    </h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-8 mb-3">
                                <div class="row ">
                                    <img class="img-thumbnail border-0" height="520" width="520"
                                         th:src="${produto.getUrlImagem()}" src=""/>

                                </div>

                            </div>
                            <div class="card-body col-6 col-sm-4">
                                <h1 class="text-primary">
                                    <div class="preco-formatado" th:field="*{produto.getPreco()}"
                                         th:text="${produto.preco}" name="preco">
                                    </div>
                                </h1>
                                <textarea class="form-control col-11 border-0"
                                          th:text="${produto.descricao}">Descrição do Pedido</textarea>
                            </div>
                            <div class="mt-4 card-body">
                                <div>

                                    <form action="#"
                                          th:action="@{'/produto/form/edita/{id}'(id=${produto.getId()})}"
                                          th:method="get">
                                        <button th:method="get" class="btn btn-success float-right">Editar</button>
                                    </form>
                                </div>

                                <div>
                                    <form action="#"
                                          th:action="@{'/produto/deleta/id?id={id}'(id=${produto.getId()})}"
                                          th:method="delete">
                                        <button th:method="delete" class="btn btn-danger float-right">Excluir</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
<script>
    let x = document
        .querySelectorAll(".preco-formatado");
    for (let i = 0, len = x.length; i < len; i++) {
        let num = Number(
            x[i].innerHTML)
            .toLocaleString(
                'pt');
        x[i].innerHTML = num;
        x[i].classList
            .add("currSign");
    }
</script>
</html>